/* --------------- Reset --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- Header --------------- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    color: #FFFFFF;
    gap: 5vw;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

header a:hover {
    transform: scale(1.3);
    transition: 2s;
}

#current {
    color: #9c9b9b;
}
/* --------------- Body --------------- */
body{
    color: #FFFF;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../Imagens/background.jfif);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.input{
    color: #FFFF;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px #24118d;
    background-color: #118d8d;
    opacity: 0.7;
    overflow-y: scroll;
}

.input::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}

.input::-webkit-scrollbar-thumb{
    background: #000000;
    border-radius: 10px;
}

#chat {
    min-width: 50%;
    border-radius: 5px;
}

/* --------------- Footer --------------- */
footer{
    width: 100vw;
    height: 6vw;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0vw;
    margin-top: 2vw;
}

.socials{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials a {
    text-decoration: none;
    color: #FFFFFF;
}

.socials a:hover i {
    color:#4d4d4d;
    transform: scale(2.5);
    transition: 2s;
}